../FM
models/*
experiments/*
datasets/*
results/*
bioinformatics_service/src/__pycache__/
data_service/generated/__pycache__/
data_service/src/__pycache__/
feature_importance_service/generated/__pycache__/
ml_service/generated/__pycache__/
orchestration_service/src/clients/__pycache__/
bioinformatics_service/src/__pycache__/kegg_enrichment.cpython-310.pyc
orchestration_service/generated/__pycache__/
.DS_Store
.Rhistory
BAK/
DATA/X_hne_class.csv
DATA/X_hne_class_nosample.csv
DATA/archs4_osdr_genes.csv
DATA/liver_combined.csv
DATA/small.csv
Mus_musculus.GRCm39.115.gtf.gz
OLD/
__pycache__/
build.log
ml_service/src/__pycache__/

bioinformatics_service/generated/__pycache__/
data_service/src/generated/__pycache__/
experiment_service/generated/__pycache__/
experiment_service/src/__pycache__/
feature_importance_service/generated/__pycache__/__init__.cpython-310.pyc
feature_importance_service/generated/__pycache__/feature_importance_service_pb2.cpython-310.pyc
feature_importance_service/generated/__pycache__/feature_importance_service_pb2_grpc.cpython-310.pyc
ml_service/generated/__pycache__/__init__.cpython-310.pyc
ml_service/src/__pycache__/consensus.cpython-310.pyc
ml_service/src/__pycache__/data_client.cpython-310.pyc
ml_service/src/__pycache__/model_store.cpython-310.pyc
ml_service/src/__pycache__/server.cpython-310.pyc
ml_service/src/__pycache__/service.cpython-310.pyc
ml_service/src/__pycache__/trainers.cpython-310.pyc
ml_service/src/generated/__pycache__/__init__.cpython-310.pyc
ml_service/src/generated/__pycache__/data_service_pb2.cpython-310.pyc
ml_service/src/generated/__pycache__/data_service_pb2_grpc.cpython-310.pyc
ml_service/src/generated/__pycache__/ml_service_pb2.cpython-310.pyc
ml_service/src/generated/__pycache__/ml_service_pb2_grpc.cpython-310.pyc
orchestration_service/generated/__pycache__/__init__.cpython-310.pyc
orchestration_service/generated/__pycache__/data_service_pb2.cpython-310.pyc
orchestration_service/generated/__pycache__/data_service_pb2_grpc.cpython-310.pyc
orchestration_service/generated/__pycache__/ml_service_pb2.cpython-310.pyc
orchestration_service/generated/__pycache__/ml_service_pb2_grpc.cpython-310.pyc
orchestration_service/src/__pycache__/__init__.cpython-310.pyc
orchestration_service/src/__pycache__/config.cpython-310.pyc
orchestration_service/src/__pycache__/main.cpython-310.pyc
orchestration_service/src/__pycache__/models.cpython-310.pyc
orchestration_service/src/clients/__pycache__/__init__.cpython-310.pyc
orchestration_service/src/clients/__pycache__/data_client.cpython-310.pyc
orchestration_service/src/clients/__pycache__/ml_client.cpython-310.pyc
utils/__pycache__/multi_dataset_combiner.cpython-310.pyc
../CVAE/src/check-osdr.py
