fastapi==0.109.0
protobuf==6.33.5
uvicorn[standard]==0.27.0
pydantic==2.12.5
pydantic-settings==2.13.0
pydantic_core==2.41.5
python-multipart==0.0.6
grpcio==1.78.0
grpcio-tools==1.78.0
python-dotenv==1.0.0
pandas==2.1.4
numpy==1.26.2
